<ion-header>
  <ion-navbar color="primary">
    <ion-title>Produto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">

    <ion-list>

      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="form.controls.nome.invalid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
        <p *ngIf="form.controls.nome.errors.required">
          Nome é obrigatório.
        </p>
        <p *ngIf="form.controls.nome.errors.minlength">
          Nome precisa ter no mínimo 2 caracteres.
        </p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Descrição</ion-label>
        <ion-textarea formControlName="descricao"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="form.controls.descricao.invalid && (form.controls.descricao.dirty || form.controls.descricao.touched)" color="danger">
        <p *ngIf="form.controls.descricao.errors.required">
          Descrição é obrigatório.
        </p>
        <p *ngIf="form.controls.descricao.errors.minlength">
          Descrição precisa ter no mínimo 2 caracteres.
        </p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Categoria</ion-label>
        <ion-select formControlName="categoria">
          <ion-option value="1" selected="true">Hambúrguer</ion-option>
          <ion-option value="2">Refrigerante</ion-option>
          <ion-option value="3">Batata</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Preço</ion-label>
        <ion-input type="number" formControlName="preco"></ion-input>
      </ion-item>
      <ion-item *ngIf="form.controls.preco.invalid && (form.controls.preco.dirty || form.controls.preco.touched)" color="danger">
        <p *ngIf="form.controls.preco.errors.required">
          Preço é obrigatório.
        </p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Data de cadastro</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Ok" formControlName="dataCadastro"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="form.controls.dataCadastro.invalid && (form.controls.dataCadastro.dirty || form.controls.dataCadastro.touched)" color="danger">
        <p *ngIf="form.controls.dataCadastro.errors.required">
          Data de cadastro é obrigatória.
        </p>
      </ion-item>

      <ion-list radio-group formControlName="tamanho">
        <ion-list-header>
          Tamanho
        </ion-list-header>

        <ion-item>
          <ion-label>Pequeno</ion-label>
          <ion-radio value="p"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Médio</ion-label>
          <ion-radio value="m"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Grande</ion-label>
          <ion-radio value="g"></ion-radio>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label>Ativo</ion-label>
        <ion-checkbox checked="true" formControlName="ativo"></ion-checkbox>
      </ion-item>

    </ion-list>

    <button ion-button block (click)="salvar()" [disabled]="!form.valid">Salvar</button>

  </form>
</ion-content>
