<ion-header>
  <ion-navbar color="primary">
    <ion-title>Produtos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-card *ngFor="let produto of produtos" [ngClass]="{'item-inactive': !produto.dados.ativo }">

      <ion-card-header>
        <h1>{{ produto.dados.nome }}</h1>
        <p>{{ getCategoriaDescricao(produto.dados.categoria) }}</p>
      </ion-card-header>

      <ion-card-content>
        {{ produto.dados.descricao }}
        <div margin-top>{{ getTamanhoDescricao(produto.dados.tamanho) }}</div>
        <div>{{ produto.dados.preco | currency:'BRL' }}</div>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="editProduto(produto.key, produto.dados)">
            <ion-icon name="create"></ion-icon>
            <div>Editar</div>
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button icon-left clear small (click)="remover(produto)" color="danger">
            <ion-icon name="trash"></ion-icon>
            <div>Excluir</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addProduto();">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
